Code/Backups
Code/blob_storage
Code/Cache
Code/CachedConfigurations
Code/CachedData
Code/CachedExtensions
Code/Code Cache
Code/Crashpad
Code/GPUCache
Code/Local Storage
Code/Session Storage
Code/logs
Code/Service Worker
Code/code.lock
Code/Cookies
Code/Cookies-journal
Code/machineid
Code/Network Persistent State
Code/QuotaManager
Code/QuotaManager-journal
Code/TransportSecurity

Code/User/globalStorage
Code/User/workspaceStorage
Code/User/History
spotify